.post {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 1em;
	max-width: 500px;
	color: rgba(255, 255, 255, 0.735);
	text-align: justify;
}

.box_img {
	position: relative;
}

.img {
	width: 100%;
	border-radius: 1em;
}

.icon {
	position: absolute;
	bottom: 15px;
	right: 15px;
	transition: 0.3s;
	color: #ff8700;
}

.icon:hover {
	cursor: pointer;
}

.title {
	font-size: 1em;
}

.line {
	color: white;
}
